.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.container-2nd{
    width: 100%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}
.container-3nd{
    width: 100%;
    height: 900px;;
    margin-left: auto;
    margin-right: auto;
}
.padding-style{
    float: left;
    padding-left: 10px;
    padding-top: 10px;
}
.padding-qwer{
    padding-left: 40px;
    padding-right: 40px;
}